There are several types of cross validations into the ML
1) Time Series Cross-Validation
2)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import TimeSeriesSplit

In [3]:
data = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
tscv = TimeSeriesSplit(n_splits=5)

for train_idx ,test_idx in tscv.split(data):
  print("train_idx :- ",train_idx)
  print("test_idx:-",test_idx)

train_idx [0 1 2 3]
test_idx [4]
train_idx [0 1 2 3 4]
test_idx [5]
train_idx [0 1 2 3 4 5]
test_idx [6]
train_idx [0 1 2 3 4 5 6]
test_idx [7]
train_idx [0 1 2 3 4 5 6 7]
test_idx [8]

2) Leave One Out Cross-Validation

In [7]:
from sklearn.model_selection import LeaveOneOut
import numpy as np

data = np.array([1,2,3,4,5,6])

In [9]:
leaveout = LeaveOneOut()
leaveout

LeaveOneOut()

In [10]:
for train_idx , test_idx in leaveout.split(data):
  print("train_idx:-",train_idx)
  print("test_idx:-",test_idx)

train_idx:- [1 2 3 4 5]
test_idx:- [0]
train_idx:- [0 2 3 4 5]
test_idx:- [1]
train_idx:- [0 1 3 4 5]
test_idx:- [2]
train_idx:- [0 1 2 4 5]
test_idx:- [3]
train_idx:- [0 1 2 3 5]
test_idx:- [4]
train_idx:- [0 1 2 3 4]
test_idx:- [5]

3) Hold-Out Cross-Validation

In [13]:
from sklearn.model_selection import train_test_split
import numpy as np

data = np.array([1,2,3,4,5,6])
train_idx , test_idx = train_test_split(data,test_size=0.2)
print("train_idx:-",train_idx)
print("test_idx:-",test_idx)

train_idx:- [2 5 3 1]
test_idx:- [4 6]

4)  K-Fold Cross-Validation

In [23]:
from sklearn.model_selection import KFold
import numpy as np

kdata = np.array([1,2,3,4,5,6])
kdata

array([1, 2, 3, 4, 5, 6])

In [20]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [22]:
for train_kidx , ktest_idx in kf.split(Data):
  print("train_idx:-",train_idx)
  print("test_idx:-",test_idx)

NameError: name 'Data' is not defined

Stratified K-Fold Cross-Validation

In [24]:
from sklearn.model_selection import StratifiedKFold
import numpy as np

# Example Data (Binary Classification Labels)
X = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = np.array([0, 0, 1, 1, 0, 1, 0, 1, 0, 1])  # Target labels (imbalanced dataset)

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

for train_idx, test_idx in skf.split(X, y):
    print("Train:", X[train_idx], "Test:", X[test_idx])

Train: [ 1  2  3  4  5  6  9 10] Test: [7 8]
Train: [ 2  3  5  6  7  8  9 10] Test: [1 4]
Train: [ 1  2  3  4  7  8  9 10] Test: [5 6]
Train: [ 1  2  4  5  6  7  8 10] Test: [3 9]
Train: [1 3 4 5 6 7 8 9] Test: [ 2 10]